$primary_1 : #aa2e25;
$primary_2 : #fa473a;
$primary_3 : #fdb9a9;
$primary_5 : #f6685e;

$secondary_1 : #115293;
$secondary_2 : #1976d2;
$secondary_3 : #115293;

$gray_1:#b4b3b3;
$gray_2:#9b9999;
$gray_3:#919191;
$gray_4:#4b4a4a;
$gray_5:#313131;

$silver_1:#F5F5F5;

$error_1:rgb(230, 0, 0);