$primary_1 : #aa2e25;
$primary_2 : #f44336;
$primary_3 : #f6685e;

$secondary_1 : #115293;
$secondary_2 : #1976d2;
$secondary_3 : #115293;

$gray_1:#5e5e5e;
$gray_2:#e0e0e0;
$gray_3:#9e9e9e;
$gray_4:#4b4a4a;