.Img{
  height: 70%;
  background-color: blue;
}

.Title{
  height: 20%;
  background-color: green;
}

.Options{
  height: 10%;
  background-color: red;
}

.Item{
  display: block;
  max-width: 100%;
  height: 30rem;
  padding: .5rem;
}