@import "../../variables/breakpoints.scss";
@import "../../variables/colors.scss";

._Header {
  display: flex;
  height: 3rem;
  border-top: 1px solid $gray_2;
  border-bottom: 1px solid $gray_2;
  @include lg {
    height: 4rem;
  }
  @include xl {
    height: 5rem;
  }
  @include xxl {
    height: 6rem;
  }
}
.HeaderLink {
  display: block;
  height: 100%;
}

.Logo {
  width: 7rem;
  height: 100%;
  padding: 5px;
  @include md() {
    width: 8rem;
  }
  @include lg() {
    width: 10rem;
  }
  @include xl() {
    width: 14rem;
  }
  @include xxl() {
    width: 16rem;
  }
}
.Group {
  display: flex;
  position: relative;
}
.Group>li{
  display: flex;
}

.Button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  color: $gray_2;
  font-size: larger;
  background-color: inherit;
  border: none;
}
.Cart_Counter{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .1rem;
  min-width: 22px;
  background-color: $primary_2;
  font-size: 14px;
  color: white;
  border-radius: 50%;
  top:.45rem;
  right:0.2rem
}

.Button_Border {
  border: 1px solid $gray_2;
  border-bottom: 0;
  border-top: 0;
}

.Burger {
  position: relative;
  @include xl() {
    display: none;
  }
  &::after {
    content: "";
    border: 1px solid $gray_1;
    position: absolute;
    right: 1.2rem;
    left: 1.2rem;
    box-shadow: 0 0.5rem 0 $gray_1, 0 -0.5rem 0 $gray_1;
    @include lg() {
      right: 1rem;
      left: 1rem;
      box-shadow: 0 0.75rem 0 $gray_1, 0 -0.75rem 0 $gray_1;
    }
  }
}

.Header_Container_SpaceBetween {
  justify-content: space-between;
}
