@import "/src/variables/colors.scss";
.Wrap {
  height: 12rem;
  padding: 0.75rem 0;
  border-bottom: 1px solid $gray_1;
}

.Item {
 display: flex;
 justify-content: space-between;
  height: 100%;
  & li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
  }
}
.Check {
  width: 3rem;
}
.Img {
  height: 100%;
}
 .Name {
 flex-direction: column;
 font-size: 20px;
  & span{
    display: block;
  }
}
.Count {
  & select {
    width: 5rem;
    height: 2rem;
    padding: 0.5rem;
    font-weight: 500;
    color: $gray_4;
    & option {
    }
  }
}
