@import './variables/breakpoints.scss';
@import './variables/colors.scss';

*,*:after, *:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  height: 100%;
  width: 100%;
}
button{
cursor: pointer;
background-color: none;
}

a {
  text-decoration: none;
  outline: none;
}
ul{
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display';
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.Container {
  display: flex;
  margin: 0 auto;
  // background-color: rgba(0, 0, 223, 0.103);
  padding: 0 10px;
  height: 100%;
  width: 100%;

  @include md() {
    padding: 0 15px;
  }
  @include lg() {
    padding: 0 20px;
  }
  @include xl() {
    padding: 0 25px;
  }
  @include xxl() {
    padding: 0 30px;
  }
}
.Block{
  display: block;
}

._Hover_Underline{
  &:hover{
    color: $primary_1;
    border-bottom: 4px solid $primary_1;
    transform:translateY(2px)
  }
}