@import "src/variables/colors.scss";
.Primary {
  background-color: $primary_1;
}
.Secondary {
  background-color: $secondary_1;
}
.Error {
  background-color: $error_1;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  &:hover {
    opacity: 0.9;
  }
  &_H {
    height: 3rem;
  }
  &_M {
    height: 2rem;
  }
  &_S {
    height: 1rem;
  }
}
